body {
    padding: 20px;
    height: 100%;
}

h1 {
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #5b768a;
    background-image: linear-gradient(to bottom, rgba(103, 117, 126, 0.86), #414a51);
}

#app {
    position: relative;
    z-index: 999;
}